/* reset css */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    word-wrap: break-word;
    background: #fff;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, form, th, td, hr {
    margin: 0;
    padding: 0;
}

body {
    min-width: 3.20rem;
    background: #fff;
    color: #404040;
    font: 14px/1.3 sans-serif;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6, p, input, button, select, textarea {
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: 0;
}

a, a:visited {
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    border: 0;
}
button {
    border: none;
    outline: none;
}
button:active {
    border: none;
}
button:focus {
    border: none;
}


.register-top {
    padding: .68rem .15rem .19rem;
    height: 4.6rem;
    background: url('../../img/invite/bj.png') center -0.69rem/100% auto no-repeat;
}
.register-form {
    padding: .20rem .35rem .08rem;
    background:rgba(255,255,255,1);
    border-radius:.16rem;
}
.form-title {
    margin-bottom: .28rem;
    font-size:.28rem;
    font-weight:500;
    color:rgba(237,67,50,1);
    line-height:.52rem;
    text-align: center;
}
.form-title img {
    display: inline-block;
    width: .52rem;
    height: .52rem;
    vertical-align: middle;
}
.register-form .form-item {
    position: relative;
    margin-bottom: .16rem;
}
.register-form input {
    position: relative;
    padding-left: .39rem;
    width:2.75rem;
    height:.45rem;
    background:rgba(255,255,255,1);
    border-radius:.06rem;
    border:1px solid rgba(243,243,243,1);
}
.register-form .input-phone {
}
.register-form .input-code {
    margin-bottom: .04rem;
    width: 1.45rem;
}
.register-form .input-phone-icon,
.register-form .input-code-icon {
    position: absolute;
    display: block;
    width: .18rem;
    height: .24rem;
    top: .1rem;
    left: .12rem;
    z-index: 1;
}
.register-form .input-phone-icon {
    background: url('../../img/invite/phone.png') center/100% 100% no-repeat;
}
.register-form .input-code-icon {
    background: url('../../img/invite/code.png') center/100% 100% no-repeat;    
}
.register-form .send-code-btn {
    display: inline-block;
    float: right;
    width: 1.2rem;
    height: .45rem;
    font-size: .15rem;
    background: #6B6B6B;
    color: #fff;
    border-radius: .06rem;
}
.register-form .submit-btn {
    width:2.75rem;
    height:.5rem;
    background:rgba(252,212,36,1);
    border-radius:.06rem;
}
.register-bottom {
    margin: 0 .15rem .42rem .15rem;
    background: #fff;
}
.register-bottom .head-img-title {
    padding-top: .05rem;
    margin-bottom: .1rem;
    font-size:.16rem;
    font-weight:600;
    line-height: .5rem;
    color:rgba(51,51,51,1);
}
.register-bottom img {
    display: block;
    width: 100%;
}

/* model css */
.invite-model {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0, 0, 0, .6);
    text-align: center;
}
.invite-model::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}
.invite-model .model-content {
    display: inline-block;
    vertical-align: middle;
    width: 2.99rem;
    height: 2.51rem;
    background: url('../../img/invite/model-bg.png') center/100% no-repeat;
    overflow: hidden;
}
.invite-model .model-content .model-button {
    margin: 1.73rem auto .28rem;
    width:2.35rem;
    height:.5rem;
    background:rgba(252,212,36,1);
    border-radius:.06rem;
    font-size:.16rem;
    font-weight:500;
    color:rgba(43,43,43,1);
}

/* toast css */
.toast {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    padding: 4px 10px;
    background: rgba(0, 0, 0, .8);
    font-size: 14px;
    text-align: center;
    color: #fff;
}

/* mask css */
.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    display: none;
}
.mask img {
    display: block;
    margin-top: .2rem;
    width: 80%;
    float: right;
    margin-right: 4%;
}
.mask .close {
    display: inline-block;
    position: fixed;
    padding: .2rem;
    top: 4%;
    left: 6%;
    font-size: .24rem;
    color: #fff;
}